/* About section */
.about{
    padding: 0 3rem;
    position: relative;
    background-image: url("../assets/about-bg.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-bottom: 10px;
    
  }
  .about-text{
    position: absolute;
    height: 45%;
    width: 500px;
    top: 32%;
    
  }
  .about-heading{
    font-size: 35px;
    margin-bottom: 35px;
  }
  
  .about-heading>img{
    height: 100px;
    width: 300px;
  }
  @media (max-width: 960px){
    .about{
      height: 80vh;
      background-size: 100% 100%;
    }
    .about-text{
      width: 250px;
      /* top: 300px; */
    }
    .about-text>p{
      font-size: 13px;
    }
    .about-heading>img{
      height: 80px;
      width: 250px;
    }
  }
  @media (max-width: 720px){
    .about{
      padding: 1rem;
      height: 70vh;
      background-size: 100% 100%;
    }
    .about-heading{
      font-size: 15px !important;
      margin-bottom: 10px;
    }
    .about-text{
      width: 300px;
      /* top: 200px; */
    }
    .about-text>p{
      font-size: 12px;
    }
    .about-heading>img{
      height: 30px;
      width: 100px;
    }
  }
  @media (max-width: 550px){
    .about{
      padding: 1rem;
    }
    .about-heading{
      font-size: 12px !important;
      margin-bottom: 5px;
    }
    .about-text{
      width: 150px;
      /* top: 150px; */
    }
    .about-text>p{
      font-size: 10px;
    }
    .about-heading>img{
      height: 30px;
      width: 80px;
    }
  }
  
