main {
    width: 100%;
    font-family: "Poppins", sans-serif;
    
    background: linear-gradient(to right top, #053c17, #d4ea92b8);
    /* background-image: url(./assets/Artboard\ 1.png); */
      /* background-size: cover;
      background-position: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:none;
  }
  
  .climate-change {
    background: white;
    width: 90%;
    max-width: 60rem;
    margin: 5rem;
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 95%;
    height: 80vh;
    background-size: 100%;
    background-image: url(../assets/collab.png);
    background-position:0cm;

    
  }
  
.content{
  height: 100vh;
  width: 100%;
  /* background-image: url(../assets/cc_img.jpeg); */
  
  border-radius: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 5s;


  animation: carouselEffect;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 15%;
    position: absolute;
  }
  
  .circle2 {
    bottom: 5%;
    left: 10%;
    position: absolute;
  }
  
  .media-content {
    padding-top: 35px;
    box-sizing: content-box;
    max-width: 100%;
    height: auto;
    padding-bottom: 35px;
  }
  
  
  /* Responsive styles */
  @media screen and (max-width: 1051px) {
    h1 {
      font-size: 2.5rem;
    }
    .circle2{
      display: none;
    }
    main .content{
      background-image: url(../assets/banner-mobile.png);
    }
  }
  
  @media screen and (max-width: 576px) {
    main .content{
      background-image: url(../assets/collab.png);
    }
    .climate-change {
      width: 95%;
      margin: 1rem;
      height: 30vh;
    }
    
    .circle2{
      display: none;
    }
    .circle1{
      height: 12rem;
      width: 12rem;
    }
    
  }
  
  @media (max-width:768px) {
    .climate-change{
      height: 25vh;
    }
    .register-btn{
      margin: 0vh;
    }
   
  }
  
  @media(max-width:768px){
    main{
      height: 45vh;
    }
  }
.register-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F3C7C0;
}
.register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 18px;
    background-color: #90d359;
    width: 30%;
    height: 40px;
    
}

@media(max-width:768px){
  .register-button{
    width: 40%;
  }
}