.titleloccon{
    justify-content: center;
    align-items: center;
    display: flex;
}

.loccon{
    align-items: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    align-self: center;
}

.loccon .location{
    width: 35%;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
}

.loccon .contact{
    width: 35%;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
input{
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;
    border: 1px 1px 1px 1px #bbb;
    border-color: #ced4da;
}
textarea{
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;

}
input:focus{
    border-color: var(--blue);
   box-shadow: 0 0 0 .2rem #CFEBFF;
}

textarea:focus{
   border-color: var(--blue);
   box-shadow: 0 0 0 .2rem #CFEBFF;
}

label{
    margin-bottom: 0.25rem;
    display: inline-block;
}

.btn-submit{
    padding: 5px;
    background-color: green;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    border-color: #ffffff;

}

.btn-submit:hover{
    background-color: rgb(82, 160, 82);
    
    transition-duration: 0.5s;
}

@media (max-width:768px){
    .loccon{
        width: 100%;
        display: inline-block;
    }
    .loccon .location{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .loccon .contact{
        width: 70%;
        display: inline;
    }

}