

/* speaker section css */
#speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7B972F;
  }
  #speakers .speakers-title {
   
    font-size: 4rem;
    margin-top: 50px;
    color: #ffffff;
  }
  .speaker-container{
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
  }
  .speaker-container .card {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 350px;
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
  }
  .speaker-container .card:hover{
    height: 320px;
  }
  .speaker-container .card .imgBx{
    position: absolute;
    top: 20px;
    left: 24px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .speaker-container .card:hover .imgBx{
    top: -25px;
    /* scale: 0.75; */
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  }
  
  .speaker-container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .speaker-container .card .content {
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    top: 250px;
    height: 34px;
    transition: 0.5s;
  }
  
  .speaker-container .card:hover .content{
    height: 220px;
    top: 225px;
  }
  
  .speaker-container .card .content h2 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .speaker-container .card .content i {
    padding: 5px;
    transition: 0.5s;
  }
  .speaker-container .card .content i:hover {
    color: #85FFBD;
    transform: translateY(-2px);
  }
  
  @media (max-width: 850px) {
    #speakers .speakers-title {
        font-weight: 800;
        font-size: 2.5rem;
        margin-top: 15px;
        margin-bottom: 20px;
    }
  
    .speaker-container{
        /* overflow: hidden; */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        /* gap: 100px 50px; */
        padding: 30px 10px;
    }
    .speaker-container .card {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 250px;
        height: 235px;
        background: #fff;
        border-radius: 20px;
        box-shadow: 0 35px 80px rgba(0,0,0,0.15);
        transition: 0.5s;
    }
    .speaker-container .card:hover{
        height: 200px;
    }
    .speaker-container .card .imgBx{
        position: absolute;
        top: 20px;
        left: 15px;
        width: 220px;
        height: 150px;
        background: #333;
        border-radius: 12px;
        overflow: hidden;
        transition: 0.5s;
    }
    
    .speaker-container .card:hover .imgBx{
        top: -25px;
        /* scale: 0.75; */
        box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
    }
    
    .speaker-container .card .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .speaker-container .card .content {
        position: absolute;
        width: 100%;
        padding: 0 30px;
        text-align: center;
        overflow: hidden;
        top: 180px;
        height: 32px;
        transition: 0.5s;
    }
    
    .speaker-container .card:hover .content{
        height: 220px;
        top: 130px;
    }
    
    .speaker-container .card .content h2 {
        font-weight: 600;
        /* margin-bottom: 10px; */
        margin-bottom: 0;
    }
    
    .speaker-container .card .content i {
        padding: 0 5px;
        transition: 0.5s;
    }
    .speaker-container .card .content i:hover {
        color: #85FFBD;
        transform: translateY(-2px);
    }
  }
  