/* Timer section css */
.countdown-section {
    width: 100%;
    padding: 2rem 3rem;
    background-color: #F3C7C0;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .event-date {
    width: 100%;
  }
  
  .counter {
    display: flex;
    width: 100%;
    
  }
  
  .day,
  .hour,
  .minute,
  .second {
    height: 6rem;
    width: 6rem;
    padding: 1.5rem;
    margin: 0.5rem;
    text-align: center;
    border: 1px solid #7A728F;
    border-radius: 5px;
    background-color: #F5D9CE;
  }
  
  @media (max-width: 768px) {
    .countdown-section {
      padding: 30px 0;
    }
    .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .col {
      flex: 1;
    }
    .day,
    .hour,
    .minute,
    .second {
      height: 5rem;
      width: 5rem;
      padding: 1rem;
      margin: 0.25rem;
    }
  }
  
  @media (max-width: 480px) {
    .day,
    .hour,
    .minute,
    .second {
      height: 4rem;
      width: 4rem;
      padding: 0.5rem;
      margin: 0.25rem;
      font-size: 12px;
    }
  }
  
  .Progress_Status {
    height: 20px;
    width: 100%;
    background-color: #ddd;
    border-radius: 25px;
  }
  
  .myprogressBar {
    position: relative;
    width: 1%;
    height: 20px;
    border-radius: 25px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
    transition: ease;
  }
  
  .progress-icon {
    position: absolute;
    right: -15px;
    top: -10px;
    height: 35px;
    width: 35px;
  }
  
  .progress-icon>img {
    height: 40px;
    width: 40px;
  }
  
  /* Additional responsiveness for 360x740px */
  @media (max-width: 360px) {
    .climate-change {
      /* height: 40%; */
      margin: 0.5rem;
      opacity: 95%;
    }
    
    .circle1,
    .circle2 {
      height: 10rem;
      width: 10rem;
    }
    
    nav {
      padding: 0 1.5rem;
      
    }
    
    nav .logo a {
      font-size: 0.9rem;
    }
    
    nav ul li a {
      font-size: 0.8rem;
    }
    
    .dropdown_menu {
      right: 1.5rem;
      top: 3.8rem;
      width: 9rem;
    }
    
    .day,
    .hour,
    .minute,
    .second {
      padding: 0.75rem;
      margin: 0.25rem;
    }
  }
  .progress-icon>img{
    height: 35px;
    width: 35px;
  }
