@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
	background: rgb(87, 209, 87);
	font-family: 'Poppins', sans-serif;
}
.box1{
    display: flex;
    height: 45%;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(222, 230, 212);
    margin: 15%;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}
.container .text-center{
	color: darkgreen;
	text-align: right;
}

.flex-center {
	align-items: center;
	
}
#accordion .accordion-card {
	background: transparent;
	border: 0;
	margin-bottom: 30px;
}
#accordion .accordion-card__header {
	background:#9ae174 ;
	color: black;
	font:bold;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#accordion .accordion-card__header.collapsed .drop-icon {
	transform: rotate(90deg);
}
#accordion .accordion-card__header h5 {
	display: flex;
	align-items: center;
}
#accordion .accordion-card__header h5 span {
	margin-left: 10px;
}

#accordion .accordion-card__body {
	padding: 20px;
	background-color: rgb(222, 230, 212);
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    
}
