@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.footer-container{
    max-width: 84%;
    /* background-color: red; */
    margin: auto;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
footer ul{
    padding: 0;
    list-style: none;
}
.footer{
    background-color: #354a36;
    padding: 30px 20px 30px 20px;/* 70 0*/
    bottom: 0;
    position: relative;
    clear: both;
    width: 100%;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.contacts-footer {
    padding: 0 6em;
}

.footer-col h4{
    font-size: 18px;
    color: antiquewhite;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    
}
.footnote{
    width:100%;
    color:white;
    text-align: center;
    padding-top: 20px;
}
.footer-col h4::before{  /**/
    content:'';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: pink;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size:16px ;
    /* text-transform: capitalize; */
    text-decoration: none;
    /* font-weight: 300; */
    color: white;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    /* background-color: rgba(255,255,255,0.2); */
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;

}
.line{
    border-bottom: 2px solid black;
    width:100%; 
    height: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* background:red; */
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
}

@media(max-width: 991px){
    .contacts-footer{
        padding: 0 15px;
    }
}

@media(max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;

    }
}
