/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

#Tracks{
    background: linear-gradient(to right top, #053c17, #d4ea92b8);
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}